################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MatthewSandPit
/MatthewSandPit.API/bin/Debug/net9.0
/MatthewSandPit.API/obj
/MatthewSandPit.ClientSide/.vscode
/.vs/ProjectEvaluation
